<div class='container'>
  <div class='row'>
    <div class='col s4'>
      <h1>Pantry</h1>
    </div>

    <div class='col s1 offset-s6'>
      <%= link_to 'add', new_user_ingredient_path, class: 'btn-floating btn-large blue waves-effect waves-light',
                                                   id: 'new-user-ingredient-button'%>
    </div>
  </div>

  <div class='row'>
    <div class='col s12'>
      <table class='highlight'>
        <thead>
          <tr>
            <th>Name</th>
            <th>Qty</th>
          </tr>
        </thead>
        <tbody>
          <% @user_ingredients.each do |ingredient| %>
            <tr>
              <td><%= ingredient.name %></td>
              <td><%= ingredient.amount %> <%= ingredient.units %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class='row'>
    <div class='col s12'>
      <%= link_to 'Back to Dashboard', dashboard_path%>
    </div>
  </div>
</div>
